 *{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 :root{
    font-family: 'Courier New', Courier, monospace;
 }

 a:link{
    text-decoration: none;
    color:#5B7F36;
 }

 a:visited{
    color: #5B7F36;
 }

 body{
    display: flex;
 }




 .side-header{
    width: 30%;
    height: 100vh;
    background-image: url(images/greenleaf.avif);
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    position: relative;
    
 }

 .logo-container{
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.445);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
 }

 .logo-container img{
    width: 50px;
    height: 100px;
    object-fit: contain;
    
 }

 .logo-container p{
    
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 2rem;

 }

 .side-header > p{
    
    
    color: white;
    font-size: .75rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
 }

 .sign-container{
    width: 70%;
    height: 600px;
    display: flex;
    flex-direction: column;
    
 }



 .signup-text-container{
    font-size: 2rem;
    font-weight: 900;
    padding: 100px;
    background-color: rgba(216, 206, 206, 0.171);
    height: 400px;
 }

 .sign-field{
    padding: 20px 0 20px 90px;
    margin-bottom: 20px;  
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);

 }

 fieldset{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
    box-sizing: border-box;
    padding: 10px;
    
 }

 legend{
    font-size: 2rem;
    font-weight: 500;
 }

 .field-area{
    display: flex;
    flex-direction: column;
    width: 40%;
 }

 .field-area label{
    font-size: .75rem;
    font-weight: 800;
 }

 .field-area input{
   
    border: 1px solid black;
    
    padding: 10px 10px;
    
    
 }

 .signup{
    margin-bottom: 20px;
 }


 

 .field-area input:focus{
    border-color: blue;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .5);
 }


 button{
    background-color: #5B7F36;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 5%;
    margin-left: 100px;
 }

 .log-back-in{
    margin-left: 100px;
 }



