 *{
    border: 0;
    padding: 0;
    margin: 0;
 }

 a:link{
    text-decoration: none;
    color:#5B7F36;
 }

 a:visited{
    color: #5B7F36;
 }

 body{
    display: flex;
 }




 .side-header{
    width: 30%;
    height: 100vh;
    background-image: url(images/greenleaf.avif);
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    position: relative;
    
 }

 .logo-container{
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.445);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
 }

 .logo-container img{
    width: 50px;
    height: 100px;
    object-fit: contain;
    
 }

 .logo-container p{
    
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 2rem;

 }

 .side-header > p{
    
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: .75rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
 }

 .sign-container{
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
 }

 .signup{
    
    width: 450px;
 }

 fieldset{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
 }

 .field-area{
    display: flex;
    flex-direction: column;
    width: 200px;
 }

 .field-area label{
    font-size: .75rem;
    font-weight: 800;
 }

 .field-area input{
    border: 1px solid black;
    
 }

 .field-area input:invalid{
    border-color: red;
 }

 .field-area input:valid{
    border-color: green;
 }
 

 .field-area input:focus{
    border-color: blue;
 }


 button{
    background-color: #5B7F36;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10%;
 }



